@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
body {
	background: #4e3d32 url('bg.png');
	margin: 0;
	width: 100%;
	font-color: #000;
	font-family: 'McLaren', cursive;
	font-size: 12pt;
}
#navbar {
	background-color: rgb(88,97,79);
	width: 1010px;
	text-align: center;
	margin: auto;
}
#nav {
	padding: 10px;
}
#nav a {
	color: #fff;
	font-variant: small-caps;
	text-decoration: none;
	padding: 7px 20px;
	font-size: 18pt;
}
#nav a:hover {
	color: rgb(245,223,135);
	text-transform: uppercase;
}
#nav a.disabled {
	opacity: 0;
}
#nav a.disabled:hover {
	color: #fff;
	text-transform: none;
	cursor: default;
}
#showhidehelp:hover {
	cursor: pointer;
}
#container {
	padding: 5px;
	width: 1000px;
	background: #fff;
	min-height: 500px;
	margin: auto;
}
#footer {
	text-align: center;
	color: #fff;
	margin-top: 50px;
	font-size: 10pt;
}
h2 {
	font-variant: small-caps;
	margin-bottom: 0;
	margin-left: 25px;
	color: rgb(88,97,79);
	font-size: 18pt;
}
#borderDummy {
	width: 454px;
	height: 364px;
	border: 4px solid #000;
	margin: auto;
}
#gamewindow {
	position: absolute;
	width: 450px;
	height: 360px;
}
#rabbit, #rabbit img {
	position: absolute;
	right: 0;
	width: 290px;
	height: 290px;
	border: none;
}
#rabbit {
	top: 50px;
	width: 390px;
}
#basecoat {}
#extension, #harlequin, #steel {display:none;}
#otter {display:none;}
#tort {display:none;}
#silver {display:none;}
#himalayan {display:none;}
#broken {display:none;}
#dutch {display:none;}
#vienna {display:none;}
#white {display:none;}